<div class="page-container">
    <div class="header">
        <h1>🐾 PetsFinder</h1>
        <div class="nav-buttons">
            <button routerLink="/add-pet" [disabled]="!isLoggedIn">Add Pet</button>
            <button routerLink="/my-pets" [disabled]="!isLoggedIn">My Pets</button>
            <button *ngIf="!isLoggedIn" (click)="goToLogin()">Login</button>
            <button *ngIf="isLoggedIn" (click)="logout()">Logout</button>
        </div>
    </div>
</div>

<div class="section-divider"></div>

<div class="page-container">
    <div *ngIf="!isLoggedIn" class="no-pets">
        No lost pets found. Please login to view lost pets 🐾
    </div>
    <div *ngIf="isLoggedIn" class="pet-list-wrapper mt-3">
        <div *ngIf="pets.length === 0" class="no-pets">
            No lost pets reported yet 🐾
        </div>

        <div *ngFor="let pet of pets" class="pet-card">
            <img [src]="pet.imageUrl" alt="Pet Photo" />
            <div class="pet-details">
                <p><strong>Name:</strong> {{ pet.name }}</p>
                <p><strong>Contact:</strong> {{ pet.contactInfo }}</p>
                <p><strong>Lost at:</strong> {{ pet.location }}</p>
            </div>
        </div>
    </div>
</div>